.heading {
    color: black;
    background-color: aliceblue;
    padding: 2pt;
    text-align: center;
}

.introduction {
    color: white;
    background-color:rgb(3, 34, 74);
    text-align: center;
}

body {
    background: rgb(3, 34, 74);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  ul {
    background-color: aliceblue;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 2pt;
  }

  .navbar {
    background-color: aliceblue;
  }
  
  button {
    display: inline-block;
    margin-right: 20px;
  }
